.section-a-propos {
    margin-bottom: 20vh;
}

.bio {
    .bio__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
        img {
            grid-column: span 2;
            grid-row: span 2;
        }

        p {
            grid-column: span 3;
            grid-row: span 3;
        }
    }

    @media screen and (max-width: $breakpoint-md) {
        .bio__content {
            display: unset;

            img {
                max-height: 60vh;
            }
            p {
                margin: 20px 0;
            }
        }
    }
}

.logiciels,
.langages {
    h2 {
        font-weight: bold;
    }
}

.logiciels {
    .single__logiciel {
        display: flex;
        gap: 140px;
        align-items: center;

        margin: 50px 0;
    }
}

.langages {
    .single__poo {
        display: flex;
        gap: 145px;
        align-items: center;

        .icones {
            display: flex;
            flex-direction: column;
            gap: 100px;
        }
    }
}

.qualites {
    h4 {
        margin-bottom: 35px;
        margin-top: 100px;
    }
}

.qualites__professionnelles__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 30px;

    .qualite__professionnelle {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    @media screen and (max-width: $breakpoint-md) {
        grid-template-columns: 1fr;
    }
}

.qualites__humaines__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 35px;
    column-gap: 45px;

    :nth-child(even) {
        grid-column: span 3;
    }

    @media screen and (max-width: $breakpoint-md) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: unset;

        :nth-child(odd) {
            grid-column: unset;
            margin-top: 55px;
            margin-bottom: 5px;
        }

        :nth-child(1) {
            margin-top: 10px;
        }
    }
}
