.bio {
    .bio__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
        img {
            grid-column: span 2;
            grid-row: span 2;
        }

        p {
            grid-column: span 3;
            grid-row: span 3;
        }
    }

    @media screen and (max-width: $breakpoint-md) {
        .bio__content {
            display: unset;

            img {
                max-height: 60vh;
            }
            p {
                margin: 20px 0;
            }
        }
    }
}

.logiciels {
    .logiciels__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media screen and (max-width: $breakpoint-sm) {
            grid-template-columns: unset;

            .single__logiciel {
                margin-bottom: 5vh;
                height: 8vh;
                gap: 20px;

                :nth-child(1) {
                    width: 10%;
                }
                .figma__icon {
                    width: 6%;
                    margin: 0 2%;
                }
            }
        }
        @media screen and (max-width: $breakpoint-xs) {
            .single__logiciel {
                :nth-child(1) {
                    width: 20%;
                }
                .figma__icon {
                    width: 12%;
                    margin: 0 4%;
                }
            }
        }
    }
    .single__logiciel {
        :nth-child(1) {
            width: 20%;
        }
        .figma__icon {
            width: 12%;
            margin: 0 4%;
        }

        display: flex;
        gap: 40px;
        align-items: center;

        margin-bottom: 30px;
    }
}

.langages {
    .langages__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media screen and (max-width: $breakpoint-sm) {
            grid-template-columns: unset;

            .single__langage {
                margin-bottom: 5vh;
                height: 8vh;
                gap: 20px;

                :nth-child(1) {
                    width: 10%;
                }
                // .figma__icon {
                //     width: 6%;
                //     margin: 0 2%;
                // }
            }
        }
        @media screen and (max-width: $breakpoint-xs) {
            .single__langage {
                :nth-child(1) {
                    width: 20%;
                }
                // .figma__icon {
                //     width: 12%;
                //     margin: 0 4%;
                // }
            }
        }
    }
    .single__langage {
        :nth-child(1) {
            width: 20%;
        }
        // .figma__icon {
        //     width: 12%;
        //     margin: 0 4%;
        // }

        display: flex;
        gap: 40px;
        align-items: center;

        margin-bottom: 30px;
    }
}

.qualites {
    h4 {
        margin-bottom: 35px;
        margin-top: 100px;
    }
}

.qualites__professionnelles__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 30px;

    .qualite__professionnelle {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    @media screen and (max-width: $breakpoint-md) {
        grid-template-columns: 1fr;
    }
}

.qualites__humaines__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 35px;
    column-gap: 45px;

    :nth-child(even) {
        grid-column: span 3;
    }

    @media screen and (max-width: $breakpoint-md) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: unset;

        :nth-child(odd) {
            grid-column: unset;
            margin-top: 55px;
            margin-bottom: 5px;
        }

        :nth-child(1) {
            margin-top: 10px;
        }
    }
}

.interets {
    .interets__grid {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        display: grid;

        .interet {
            position: relative;

            h5 {
                margin-bottom: 5px;
            }

            img {
                opacity: 0.2;
                z-index: 1;
            }

            p {
                position: absolute;
                top: calc(50% - 45px);
                width: auto;
                margin: 0 25px;
            }

            .plus {
                position: absolute;
                bottom: 10px;
                right: 5px;
                width: 45px;
                height: 45px;
                // border-radius: 100px;
                background-color: var(--color-gray);

                span {
                    position: absolute;
                    background-color: tomato;
                    width: 10px;
                    height: 10px;
                }
            }

            .plus__dark {
                background-color: var(--color-black);
            }

            .colemak {
                position: absolute;
                top: 65%;
                right: 25%;
                width: 50%;
                opacity: unset;
                z-index: unset;
            }

            // tout le hover pour les cartes d'interets
            &:hover {
            }
        }

        // pour élever le texte du clavier pour laisser de la place à l'image
        :nth-child(2) {
            p {
                top: 17%;
            }
        }
    }
}
