.footer {
    background-color: var(--color-black);
    padding-top: 25px;
    .copyright__wrapper {
        // wrapper defaults
        width: calc(100% - var(--spacing-xxl));
        margin: 0 auto;
        //

        text-align: center;
        padding-bottom: 2vh;

        @media screen and (max-width: $breakpoint-md) {
            width: calc(100% - var(--spacing-lg));
        }
    }

    .wrapper {
        display: flex;
        align-items: start;
        gap: 25px;

        svg {
            // height: 120px;
        }

        .footer__info {
            width: 100%;

            .footer__buttons {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: start;
                margin-bottom: 10px;

                @media screen and (max-width: $breakpoint-sm) {
                    flex-wrap: wrap;
                    gap: 15px;

                    .socials {
                        svg {
                            width: 50px;
                            height: 50px;
                            g path {
                                // fill: tomato;
                            }
                        }
                    }
                }
            }
        }
    }
}

.socials a {
    path {
        // fill: tomato;
        transition: all 0.4s $ease-out-quint;
    }

    &:hover path {
        fill: var(--color-black);
        stroke: var(--color-white);
        stroke-width: 2px;
    }
}
