.footer {
    .copyright__wrapper {
        // wrapper defaults
        width: calc(100% - var(--spacing-xxl));
        margin: 0 auto;

        @media screen and (max-width: $breakpoint-md) {
            width: calc(100% - var(--spacing-lg));
        }
        //

        text-align: center;
        margin-bottom: 2vh;
    }

    .wrapper {
        display: flex;
        align-items: start;
        gap: 25px;

        .footer__info {
            width: 100%;

            .footer__buttons {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: start;
                margin-bottom: 10px;

                @media screen and (max-width: $breakpoint-sm) {
                    flex-wrap: wrap;
                    gap: 15px;

                    .footer__socials svg {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}
