.header {
    --header-height: 100px;
    height: var(--header-height);

    display: flex;
    align-items: center;

    // pour/apres la  composante header
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--color-dark-gray);
    transition: transform 0.6s $ease-in-out-expo;
    padding: 35px 0;

    .logo {
        max-width: 300px;
        position: relative;
        z-index: 10;
        &:hover {
            svg path {
                d: path(
                    'M58 0C58 0 55.7974 2.478e-05 28.9999 2.478e-05C2.20247 2.478e-05 -1.6707e-06 0 -1.6707e-06 0C-1.6707e-06 0 -1.6707e-06 2.20253 -1.6707e-06 29C-1.6707e-06 55.7975 -1.6707e-06 58 -1.6707e-06 58C-1.6707e-06 58 2.20255 58 28.9999 58C55.7973 58 58 58 58 58C58 58 58.0001 55.7975 58.0001 29C58.0001 2.20253 58 0 58 0Z'
                );
            }
        }

        svg {
            width: 58px;
            height: 58px;
        }

        path {
            fill: var(--color-white);
            d: path(
                'M57.812 29C57.812 29 57.812 26.8118 44.5002 13.5C31.1884 0.188159 29.0002 0.188158 29.0002 0.188158C29.0002 0.188158 26.8119 0.188159 13.5001 13.5C0.188327 26.8118 0.188324 29 0.188324 29C0.188324 29 0.188364 31.1883 13.5001 44.5C26.8119 57.8118 29.0002 57.8118 29.0002 57.8118C29.0002 57.8118 31.1884 57.8118 44.5002 44.5C57.812 31.1882 57.812 29 57.812 29Z'
            );
            transition: all 0.2s $ease-out-quad;
        }
    }

    &::before {
        background-color: var(--color-dark-gray);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-primary {
        background: var(--color-dark-gray);
        position: absolute;
        top: -15%;
        left: 0;
        height: 100vh;
        width: 100%;
        padding-top: var(--header-height);
        display: flex;
        align-items: center;
        overflow-y: auto;
        transform: translateY(-100%);
        transition: transform 0.6s $ease-out-expo;

        .nav-is-active & {
            transform: translateY(20%);
        }

        @media screen and (min-width: $breakpoint-md) {
            display: block;
            background: unset;
            position: relative;
            height: auto;
            width: auto;
            overflow-y: visible;
            padding-top: 0;
            transform: translateY(0);
            z-index: 2;
            ul {
                flex-direction: row;
                transform: translateY(0);
            }
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 120px;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        transform: translateY(-70%);
        transition: transform 1.2s $ease-out-expo;

        a {
            display: block;
            text-align: center;
            position: relative;

            // copy paste des propietes "font" des p
            font-size: typo(22px, 30px);
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            line-height: 160%;

            &:hover {
                &::after {
                    width: 100%;
                }
            }

            &::after {
                position: absolute;
                top: 90%;
                left: 0;
                content: '';
                width: 0%;
                transition: all 0.2s $ease-out-expo;
                height: 3px;
                background-color: var(--color-white);
            }
        }
    }

    .header-is-hidden.is-scrolling-down:not(.nav-is-active) & {
        transform: translateY(-100%) translateY(4px);
    }
}

.header__toggle {
    --bar-height: 8px;
    --bar-width: 50px;
    --bar-spacer: 8px;

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    width: var(--bar-width);
    height: var(--bar-width);
    z-index: 10;

    span {
        background: var(--color-white);
        // border-radius: 3px;
        height: 5px;
        width: 100%;
        position: absolute;
        top: calc(50% - var(--bar-height) / 2);
        left: calc(50% - var(--bar-width) / 2);
        transition: 0.3s all $ease-out-expo;

        &:nth-child(1) {
            top: calc(
                50% - var(--bar-height) / 2 - var(--bar-height) -
                    var(--bar-spacer)
            );
        }

        &:nth-child(3) {
            top: calc(
                50% - var(--bar-height) / 2 + var(--bar-height) +
                    var(--bar-spacer)
            );
        }
    }

    .nav-is-active & {
        span {
            top: calc(50% - var(--bar-height) / 2);
            &:nth-child(1) {
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                transform: scaleX(0);
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }

    @media screen and (min-width: $breakpoint-md) {
        display: none;
    }
}

.nav-is-active body {
    overflow: hidden;
    // le tuto dit de mettre ce mediaquery a lg mais j'ai corrige pour md
    @media screen and (min-width: $breakpoint-md) {
        overflow: auto;
    }
}
