.hero svg {
    width: 12px;
    path {
        fill: var(--color-white);
    }

    position: absolute;
    left: 0;
    bottom: -15%;
}

.hero__content {
    position: relative;
    div {
        margin-top: 20px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: start;
    }
}
