.projets {
    .cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 90px;

        .card {
            height: 80vh;
            display: flex;
            justify-content: space-between;
            position: relative;
            gap: 20px;

            @media screen and (max-width: $breakpoint-md) {
                flex-direction: column;
                justify-content: unset;
                gap: 20px;
                .card__content {
                    width: 100%;
                }
            }

            .card__media {
                position: absolute;
                top: -1vh;
                left: 0;
                width: 55vw;
                height: 102%;
                transition: all 0.5s $ease-out-expo;

                // &::after {
                //     content: '';
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     width: 100%;
                //     height: 100%;
                // }

                @media screen and (max-width: $breakpoint-md) {
                    position: unset;
                    width: 100%;
                    height: auto;
                    aspect-ratio: 16 / 9;
                }

                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &:hover {
                    width: 80vw;

                    + .card__content {
                        left: 60vw;
                    }
                }
            }

            .card__content {
                position: absolute;
                left: 55vw;
                margin-left: 15px;
                top: 0;
                transition: all 0.7s $ease-out-quint;
                background-color: rgba($color: #000000, $alpha: 0.4);
                // backdrop-filt

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                gap: 30px;

                @media screen and (max-width: $breakpoint-md) {
                    position: unset;
                    width: 100%;
                    margin-left: unset;
                    margin-top: 10px;
                    top: calc(100vw / 9);
                    left: 0;
                }

                .card__content__logiciels {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                }
            }
        }
    }
}
