.hero svg {
    width: 12px;
    path {
        fill: var(--color-white);
    }

    position: absolute;
    left: 0;
    bottom: -15%;
}

.hero__content {
    position: relative;
    div {
        margin-top: 20px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: start;
    }
}

.hero {
    height: 75vh;
    margin-bottom: 20vh;
    scroll-snap-align: start;
    scroll-margin-top: 0px;

    @media screen and (max-width: $breakpoint-md) {
        height: unset;
        margin-bottom: 150px;
    }
}
