/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    // max-width: $breakpoint-md;
    width: calc(100% - var(--spacing-xxl));
    margin: 0 auto;

    @media screen and (max-width: $breakpoint-md) {
        width: calc(100% - var(--spacing-lg));
    }
}
