/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    // max-width: $breakpoint-md;
    width: calc(100% - var(--spacing-xxl));

    @media screen and (max-width: $breakpoint-md) {
        width: calc(100% - var(--spacing-lg));
        background-color: green;
    }

    margin: 0 auto;
    background-color: tomato;
}
