/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // // Couleur de base
    // --color-white: #fff;
    // --color-black: #000;

    // // Couleurs du projet
    // --color-primary: tomato;
    // --color-bg-primary: #e2e2e2;

    // Mes couleurs à moi
    --color-white: #fcfcff;
    --color-light-gray: #b0b0b7;
    --color-gray: #63636a;
    --color-dark-gray: #17171e;
    --color-black: #000000;
    --color-error: red;
}
