{% include '_partials/_header.html' %}

<section class="hero">
    <div class="wrapper">
        <div class="hero__content">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="278" viewBox="0 0 12 278" fill="none">
                <path
                    d="M5.94154 277.773L11.7163 272.001L5.94397 266.226L0.169253 271.999L5.94154 277.773ZM6 0L5 -0.000210457L4.94276 272L5.94276 272L6.94276 272L7 0.000210457L6 0Z"
                />
            </svg>
            <div>
                <h1>
                    Adam
                    <br />
                    El Alfy
                </h1>
                <h5>Programmeur de jeux vidéo</h5>
            </div>
        </div>
    </div>
</section>

<section class="a-propos-intro">
    <div class="wrapper">
        <h4>
            Je veux pousser les limites des jeux vidéo à l’aide d’un fort intérêt pour la nature de la programmation, son aspect mathématique et son côté
            logique. J’ai une insatiable soif pour en apprendre davantage sur le fondement technologique du jeu vidéo, et d’être le programmeur préféré des game
            designers.
        </h4>
    </div>
</section>

<section class="bio">
    <div class="wrapper">
        <div class="bio__content">
            <img src="assets/images/ma_face_scaled_down.JPG" alt="Adam El Alfy portrait" />
            <p>
                Je m’appelle Adam El Alfy. J’ai 19 ans et je suis un étudiant du cégep Édouard-Montpetit. Lorsque j’ai commencé ce programme, j’ai vite réalisé
                que le profil de développeur est le mien. Je suis un grand passionné des jeux vidéo: depuis que je suis enfant, son fonctionnement et ses
                mécaniques me sont captivants. Chaque jeu auquel je jouais devenait une quête à briser ses limites.
                <br />
                Programmeur de jeux vidéo est donc naturel comme choix de carrière. Maintenant j’ai moins le temps de jouer. Cependant mon “netflix” le soir, ce
                sont des DevLogs, des analyses essayistiques, des gameplays...
                <br />
                mon programme actuel n’est pas suffisant pour décrocher un tel emploi, c’est pourquoi je vais faire le baccalauréat en programmation/jouabilité
                de jeux vidéo à l’UQAT. J’ai incroyablement hâte d’y étudier.
            </p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="162" viewBox="0 0 12 162" fill="none">
            <path
                d="M6.00001 161.773L11.7735 156L6.00001 150.227L0.226504 156L6.00001 161.773ZM6 0L5 4.37114e-08L5.00001 156L6.00001 156L7.00001 156L7 -4.37114e-08L6 0Z"
                fill="#FCFCFF"
            />
        </svg>
    </div>
</section>

{% include '_partials/_footer.html' %}
