{% include '_partials/_header.html' %}

<section class="hero">
    <div class="wrapper">
        <div class="hero__content">
            <h1>
                Adam
                <br />
                El Alfy
            </h1>
            <h5>Programmeur de jeux vidéo</h5>
            <button class="button"><span>mes projets</span></button>
        </div>
    </div>
</section>
<section class="projets" id="projets">
    <div class="wrapper">
        <h4>bol soup</h4>
    </div>
</section>

{% include '_partials/_footer.html' %}
