{% include '_partials/_header.html' %}

<section class="hero">
    <div class="wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="278" viewBox="0 0 12 278" fill="none">
            <path
                d="M5.94154 277.773L11.7163 272.001L5.94397 266.226L0.169253 271.999L5.94154 277.773ZM6 0L5 -0.000210457L4.94276 272L5.94276 272L6.94276 272L7 0.000210457L6 0Z"
            />
        </svg>
        <div class="hero__content">
            <h1>
                Adam
                <br />
                El Alfy
            </h1>
            <h5>Programmeur de jeux vidéo</h5>
            <button class="button"><span>mes projets</span></button>
        </div>
    </div>
</section>

<section class="projets" id="projets">
    <div class="wrapper">
        <h4>bol soup</h4>
    </div>
</section>

{% include '_partials/_footer.html' %}
