{% include '_partials/_header.html' %}
<div class="hero-projet section">
    <div class="wrapper">
        <div class="hero-projet__media">
            <video src="assets/videos/vid_tennis_kinect.mp4" autoplay muted loop></video>
            <div class="hero-projet__logiciels">
                <!-- TouchDesigner -->
                <img src="assets/images/touchdesigner.png" alt="" />
            </div>
        </div>

        <div class="hero-projet__content">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="417" viewBox="0 0 12 417" fill="none">
                <path
                    d="M5.91229 416.773L11.687 411.001L5.91472 405.227L0.139999 410.999L5.91229 416.773ZM6 0L5 -0.000210457L4.9135 411L5.9135 411L6.9135 411L7 0.000210457L6 0Z"
                    fill="#FCFCFF"
                />
            </svg>
            <div class="text">
                <h3>Jeu kinect-tennis</h3>
                <h5>Projet final du cours : Médias interactifs</h5>
                <!-- <h5>Réalisé en équipe avec : Philippe Paquet, Amyeliya Sulytska et Coralie Thibault</h5> -->
                <h5>Hiver 2025</h5>
            </div>
        </div>
    </div>
</div>

<div class="projet-description section">
    <div class="wrapper">
        <p>
            Initialement, le principe à suivre était celui d'une installation interactive. Cependant, ce projet prend un peu plus la forme d'un jeu. Il est
            actuellement affiché au Cégep, en espace public. Réalisé avec TouchDesigner, mon travail est une dérivation de
            <a href="https://youtu.be/1kDCUhx7uUg?si=h7y7R8CNdTTymEpU">ce projet</a>
            par miwa maroon. Il démontre un jeu qui se joue à distance par vidéoconférence; j'ai adapté le système pour qu'il soit un jeu qui se joue sur la
            kinect.
        </p>
    </div>
</div>

<div class="projet-systeme section">
    <div class="wrapper">
        <h3>L'installation</h3>
        <div class="projet-systeme__grid">
            <div class="single">
                <img src="assets/images/balles.png" alt="balle, raquette de tennis et panier." />
                <p>Photo du projet.</p>
            </div>
            <div class="single">
                <img src="assets/images/fin.png" alt="joueur de tennis, déçu d'avoir fait entrer seulement 11 balles." />
                <p>Un écran de fin, affiché lorsque le décompte est terminé.</p>
            </div>
            <div class="single">
                <img src="assets/images/reseau_2.png" alt="Programmation nodale de l'installation dans TouchDesigner." />
                <p>Un aperçu de la programmation nodale de l'installation dans TouchDesigner.</p>
            </div>
            <div class="single">
                <img src="assets/images/reseau_noeuds.png" alt="Programmation nodale de l'installation dans TouchDesigner." />
                <p>Un autre aperçu de la programmation nodale de l'installation dans TouchDesigner.</p>
            </div>
        </div>
    </div>
</div>

<div class="projet-features section">
    <div class="wrapper">
        <h3>Exemples de fonctionnalités</h3>

        <h4>Détection de collisions</h4>
        <svg xmlns="http://www.w3.org/2000/svg" width="417" height="12" viewBox="0 0 417 12" fill="none">
            <path d="M416.773 6L411 0.226497L405.227 6L411 11.7735L416.773 6ZM0 6L0 7L411 7V6V5L0 5L0 6Z" fill="#FCFCFF" />
        </svg>
        <video src="assets/videos/kinect_tennis_ft (1).mkv" autoplay muted loop></video>

        <h4>Rendu 3d de simulation de physiques</h4>
        <svg xmlns="http://www.w3.org/2000/svg" width="417" height="12" viewBox="0 0 417 12" fill="none">
            <path d="M416.773 6L411 0.226497L405.227 6L411 11.7735L416.773 6ZM0 6L0 7L411 7V6V5L0 5L0 6Z" fill="#FCFCFF" />
        </svg>
        <video src="assets/videos/kinect_tennis_ft (2).mkv" autoplay muted loop></video>

        <h4>Instanciation de balles</h4>
        <svg xmlns="http://www.w3.org/2000/svg" width="417" height="12" viewBox="0 0 417 12" fill="none">
            <path d="M416.773 6L411 0.226497L405.227 6L411 11.7735L416.773 6ZM0 6L0 7L411 7V6V5L0 5L0 6Z" fill="#FCFCFF" />
        </svg>
        <video src="assets/videos/kinect_tennis_ft (3).mkv" autoplay muted loop></video>
    </div>
</div>
{% include '_partials/_footer.html' %}
