{% include '_partials/_header.html' %}
<!--  -->
Tower defense en réalité augmentée
Projet final du cours : Jeux-vidéo 3
Réalisé en équipe avec : Philippe Paquet, Amyeliya Sulytska et Coralie Thibault
Automne 2024

Dans le cours de jeux-vidéo 3, le projet final avait le thème imposé de tower defense.

<img src="assets/images/prog_spawning.png">
L'apparition des ennemis dans l'environnement AR.

<img src="assets/images/tour_prinipale.png">
Un joli UI pour faire apparaÎtre 

<img src="assets/images/prog_spawning.png">

<img src="assets/images/prog_spawning.png">

<img src="assets/images/prog_spawning.png">

<img src="assets/images/prog_spawning.png">
<!--  -->
{% include '_partials/_footer.html' %}
